.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
}
