.main-nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 6rem; 
  display: flex;
  align-items: center;
  background-image:linear-gradient(to right, rgb(97, 93, 93),rgb(27, 25, 25));
  color: rgb(208, 205, 200);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 3);
}

html {
  font-size: 60%;
}

li {
  list-style: none;
  padding: 5px;
}
li:hover{
  font-size: 5px;
}
.nav-links{
padding-right: 15px;
  flex: 1;

}

.image-background{
  align-items: center;
  /* background-image:radial-gradient(rgb(71, 69, 69),rgb(27, 25, 25)); */
  padding: 4px;
  
}

.project-title {
  margin-left: 2rem;  
  align-items: center;
  margin-right: 2rem;
  display: flex;
}
img{
  
  flex: 1;
  height: 50px;
  width: 50px;
  
}

ul{
  display: flex;
  padding: 5%;
  margin: 0%;
  justify-content: end;
}

a{
  margin-left: 2px;
  margin-right: 2px;
  font-size: small; 
  color: white;
}

