.subscription-container{
    margin: auto;
    color: white;
    outline: none;
}

input{    
    width:fit-content;
    border-color: none;
}
input:focus{
    border:solid;
}
input:hover{
    background-color: none;
}